*{
    box-sizing: border-box;
    
    
}
body{
    margin:15%;
    background: #ABB2C0;
}
.view{
    background: yellow;
}
.collector{
    display: block;
    width:30%;
    background:#9F81B5

}
.diningInfo{
    background:#957CB1
}
.banner{
    background: #545A81;
    text-color:white;
}
.banner *{
    margin: 0;
}
.img *{
    display: block;
    width: 300px;
    height: 300px;

}