.Toggle--button{

    /* padding: 10px; */

    height: 50px;
    width: 50px;
    background: transparent;
    box-sizing: border-box;
}

.Toggle--button:focus{
    outline:none;
}

.toggle--button--x{ 
 
    
}
.toggle--button--x h1:hover{
                        color:limegreen;
                        cursor: pointer;
}
.toggle--button--x h1:active{
                       color:goldenrod;
                       cursor: context-menu;
                   }